
* {
font-family: 'Caladea',sans-serif ;
  
}

h1 {
     font-size: 32px;
     font-weight: 700;
     font-family: 'Caladea',sans-serif ;
     color: #33543A;
     text-align: center;

}

nav {
     font-family: 'Caladea',sans-serif ;
     text-align: center;
}

div {
     font-family: 'Caladea',sans-serif ;
     font-size: 14px;
     color: #747c83;

}

header {
     background-color: #DFD4BD;
     border-bottom: #4A3A34;
     padding: 20px;
}

